[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SplitWise"]
	path = SplitWise
	url = https://github.com/cran/SplitWise
[submodule "geeLite"]
	path = geeLite
	url = https://github.com/cran/geeLite
